*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 700px;
    
    margin: 200px auto;
    
    background-color: white;
    overflow: hidden;

    

}
 body{
     background-color: #CECECE;
 }


#tabs{
    display: flex;
    width: 100%;
    justify-content: center;
     background-color: blueviolet;
     margin-top: 40px;  
        
    }

.tab{
    padding: 20px 30px;
    color:white;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 4px solid blueviolet;
    border-top: 4px solid blueviolet;
    
    

}
.tab.active{
    color: #D8C5FE;
   border-top: 4px solid black;
   border-bottom:4px solid black;
   
}

.tab-text{
    width: 700px;
    height: 350px;
    padding: 30px;
    
    position: relative;
}

.text{
    position: absolute;
    transform: translateX(700px);
   
    /* transform: translateY(30px); */
width: 640px;
height: 200px; 
    border: 2px solid black;
}
.text h1{
    margin: 30px 0;
    
}
.text.show{
display: block;
    animation: animat 1s ease;
    transform: translateX(0);
}
.text.hide{
display: block;
    animation: animat2 1s ease;
}
@keyframes animat{
     from{
         transform: translateX(700px);
         border-top-left-radius: 100%;
         border-bottom-right-radius: 100%;
         
     }
     to{
    transform: translateX(0);  
      
    }
}

@keyframes animat2{
    from{
        transform: translateX(0);
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
      
    }
    to{
   transform: translateX(700px); 
   border-top-left-radius: 100%;
   border-bottom-right-radius: 100%;    
   }
}

.text .about{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}
.text .about div  {
    
    height:90px;
    font-size: 40px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  0 0 5px 1px rgba(0, 0, 0, 0.491);
    position: relative;
    flex-direction: column;
    z-index: 1;
    color: white;
    overflow: hidden;
    
}

.text .about div p{
    transition-duration: 1s;
}
.tab-text .text:nth-child(3){
    border: none;
    
    
}
.tab-text .text .about div p::before{
position: absolute;
content: '';



margin-top: 3px;
margin-left: -8px;

width: 40px;
height: 40px;
border-radius: 100%;
background-color: blueviolet;
/* transform: scale(0); */
transition-duration: 1s;
z-index: -1;


}
.tab-text .text .about div:hover p::before{
transform: scale(5);

}

.tab-text .text .about div:hover p   {
          transform: scale(9);
          
}


.tab-text .text .about div p i{
    transition-delay: 0.3s;
}
.tab-text .text .about div:hover p i{
    opacity: 0;
}
.tab-text .text .about div span{
    position: absolute;
    transform: translateY(60px);
    transition-delay: 0.3s;
    font-size: 25px;
   transition-duration: 0.3s;
}
.tab-text .text .about div:hover span{
  transform: translate(0);
    color: white;
    z-index: 1;
    display: block;
    
}
.tab-text .text .about div em{
    position: absolute;
font-size: 15px;
width: 150px;
height: 0px;
background-color: red;
color: white;
transform: rotate(-45deg);
left: -30px;
top: 20px;
text-align: center;
transition-delay: 0.3s;
transition-duration: 0.4s;
z-index: 1;
overflow: hidden;

}

.tab-text .text .about div:hover em{
    height: 20px;
    
    
}